<img src="{{posterPath}}" alt="{{title}}">

<h2>Write a review:</h2>
{{> review-form}}

<h2>Past Reviews</h2>
{{#each reviews}}
    <article>
        <h3>{{title}}</h3>
        <p>Rating: {{rating}}</p>
        <p>Review: {{body}}</p>
        <a href="/review/edit/{{_id}}">Edit</a>
        <a href="/review/delete/{{_id}}">Delete</a>
    </article>
{{/each}}